extends ../base
include ../mixins/video

block content
    div.profile__data
        // #{console.log(user)}
        #{console.log("using profile : " + user.avatarURL)}
        if user.avatarURL
            img(src=user.avatarURL).avatar
        else
            p #{`Needs\nAvatar`}
        h3=user.nickname
    div.video__grid
        each video in user.videos
            +video(video)
        else
            span.empty_message Sorry, We can't find anything.